code {
  font-size:95%;
  font-family: Consolas, Inconsolata, Monaco, monospace;
}
.figure {
	float:right;
	padding-left:1em;
	padding-bottom:1em;
}
.caption {
	font-size:66%;
	text-align:right;
}
.footnotes {
	font-size:80%;
}
p {
	text-align:justify;
}
body {
	max-width : 100ex;
	padding-left:5em;
	font-family:sans-serif;
}
.displayequation { margin-left: auto; margin-right: auto } 